html(lang='en')
	head
		title HeLit
		link(href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css")
		link(href="stylesheet" link="css/normalize.css")
		link(href="stylesheet" link="css/skeleton.css")
	body
		h1 hi
