html(lang='en')
head
  title HeaLit Patient Reporting Page
  script(src='js/jquery.js')
  script(src='js/Chart.js')
  script(src='js/Date.js')
  script(src='/socket.io/socket.io.js')
  link(href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css")
  link(rel="stylesheet" href="css/normalize.css")
  link(rel="stylesheet" href="css/skeleton.css")
  link(rel="stylesheet" href="css/reporting.css")
body
  form#patientForm
    label(for="idInput") HeLit Patient Report
    input.u-full-width(placeholder="12345" id="idInput")
    input#submit-button.button-primary(type="submit" value="Search")
  div#resultsContainer
    div#graphContainer
      canvas#scoreGraph(width=433, height=543)
    div#infoContainer
      select.u-full-width
        option(value="Summary") Summary
        option(value="Priority Concerns") Priority Concerns
        option(value="Previous Concerns") Previous Concerns
  div.concern-item#concern-item-model(style="display: none;")
    h6.question-text This is the question?
    h6.answer-text Answer given: And this is 
    button.address-button Address
    button.ignore-button Ignore

footer
  script(src='js/reporting.js')
