html(lang='en')
head
	title HeaLit
	script(src='js/jquery.js')
	script(src='/socket.io/socket.io.js')
	link(href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css")
	link(rel="stylesheet" href="css/normalize.css")
	link(rel="stylesheet" href="css/skeleton.css")
	link(rel="stylesheet" href="css/setup.css")
body
	form#patientForm
		label(for="idInput") Patient ID
		input.u-full-width(placeholder="12345" id="idInput")
		label(for="testTypeInput") Test Type
		select.u-full-width(id="testTypeInput")
			option(value="Diabetes") Diabetes
			option(value="test2") Test 2
			option(value="test3") Test 3
		input.button-primary(type="submit" value="Start Test")
	form#questionForm(style="display: none")
		h2#questionBody This is a test question?
		input.button-primary(type="submit" value="Submit")
	div#endPage(style="display: none")
		h2 Test is complete.
		h2 Please return iPad to clinic.


	div.choice-container#radioModel(style="display: none; overflow: auto")
		input.choice(type='radio', name='choice', value='C', style="float: left")
		p(style="float: left") A

	div.choice-container#checkboxModel(style="display: none; overflow: auto")
		input.choice(type='checkbox', name='choice', value='D', style="float: left")
		p(style="float: left") B



footer
	script(src='js/script.js')
