html(lang='en')
	head
		title HeLit
		link(href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css")
		link(rel="stylesheet" href="css/normalize.css")
		link(rel="stylesheet" href="css/skeleton.css")
	body
		form
			div.six.columns
				label(for="nameInput") Full Name
				input.u-full-width(placeholder="Eric Song" id="nameInput")

				label(for="nidInput") Patient ID
				input.u-full-width(placeholder="12345" id="idInput")
